<div class="mt-16 px-6 lg:px-8" data: { turbo: false }>
  <div class="mx-auto max-w-2xl lg:max-w-7xl mb-8">
    <h1 class="text-pretty text-4xl font-medium tracking-tight text-gray-950">Admin dashboard</h1>
    <% if Current.user.admin? %>
      <div class="flex gap-4 mb-4">
        <%= link_to "Create new event", new_event_path, class: "justify-center rounded-md border border-transparent bg-[#DB2955] px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-[#DB2955]/[90%] cursor-pointer" %>
        <%= link_to "Manage users", admin_users_path, class: "justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-500 cursor-pointer" %>
      </div>
    <% end %>

    <% @in_progress_events.each do |event| %>
      <h2 class="text-pretty text-3xl font-medium tracking-tight text-gray-950 my-3"><%= "#{event.location} - #{event.date}" %></h2>
      <% if Current.user.admin? %>
        <%= link_to "Edit this event", edit_event_path(event), class: "justify-center rounded-md border border-transparent bg-[#DB2955] px-4 py-2 my-4 text-sm font-medium text-white shadow-sm hover:bg-[#DB2955]/[90%] cursor-pointer" %>
      <% end %>
      <% if event.results.any? %>
        <h3 class="text-pretty text-2xl font-medium tracking-tight text-gray-950 mt-2">Results</h3>
        <table class="table-fixed border-separate [border-spacing:0.75rem]">
          <thead>
            <tr>
              <th>Place</th>
              <th>Name</th>
              <th>Time</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% event.results.order(Result.arel_table[:time].asc.nulls_last).each do |result| %>
              <tr>
                <td><%= result.place %></td>
                <td><%= result.user&.name || "Unknown" %></td>
                <td><%= result.time_string %></td>
                <td><%= button_to "Delete", result_path(result), method: :delete, class: "text-base font-semibold text-[#DB2955] cursor-pointer" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= button_to "Delete All Results", results_destroy_all_path(event_id: event.id), method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete all #{event.results.count} results? This cannot be undone." } }, class: "my-4 rounded-md border border-transparent bg-red-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-red-700 cursor-pointer" %>
      <% else %>
        <%= button_to "Link all finish positions and times", result_link_path(event_id: event.id), method: :post, class: "my-4 rounded-md border border-transparent bg-[#DB2955] px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-[#DB2955]/90 cursor-pointer" %>
      <% end %>
      <div class="my-3 grid grid-cols-1 font-sm md:grid-cols-2 lg:grid-cols-3">
        <div data-controller="search">
          <h3 class="text-pretty text-2xl font-medium tracking-tight text-gray-950 mt-2">Unplaced runners</h3>
          <div class="my-2">
            <input id="runner-search" type="search" placeholder="Search by name or barcode" data-search-target="input" data-action="input->search#filter" class="w-full rounded-md border px-3 py-1.5 shadow-sm focus:outline-[#DB2955]" autofocus />
          </div>
          <table class="table-fixed border-separate [border-spacing:0.75rem]">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% event.unplaced_users.order(:name).each do |user| %>
                <% form_id = "#{dom_id(event)}_#{dom_id(user, :finish_position_form)}" %>
                <tr data-search-target="row" data-search-text="<%= "#{user.name} #{user.display_name} #{user.id} #{user.barcode_string}" %>">
                  <td>
                    <%= form_with model: FinishPosition.new(user: user, event: event), url: finish_positions_path, html: { id: form_id } do |f| %>
                      <%= f.hidden_field :user_id, value: user.id %>
                      <%= f.hidden_field :event_id, value: event.id %>
                    <% end %>
                    <%= user.name %>
                    <%= "(#{user.results_count})" %>
                    <%= "⚠️" if user.confirmed_at.nil? %>
                  </td>
                  <td>
                    <input form="<%= form_id %>" type="number" name="finish_position[position]" id="<%= "#{dom_id(event)}_#{dom_id(user, :position)}" %>"  min="1" class="block w-24 rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-[#DB2955] sm:text-sm/6" />
                  </td>
                  <td>
                    <input form="<%= form_id %>" type="submit" value="Add" class="justify-center rounded-md border border-transparent bg-[#DB2955] px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-[#DB2955]/[90%] cursor-pointer" />
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div>
          <h3 class="text-pretty text-2xl font-medium tracking-tight text-gray-950 mt-2">Finish Positions</h3>
          <table class="table-fixed border-separate [border-spacing:0.75rem]">
            <thead>
              <tr>
                <th>Position</th>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% event.finish_positions.order(:position).each do |fp| %>
                <tr class="<%= 'opacity-50' if fp.discarded? %>">
                  <td><%= fp.position %></td>
                  <td>
                    <% if fp.discarded? %>
                      (DISCARDED)
                    <% else %>
                      <%= "#{fp.user&.name} (#{fp.user&.display_name || "Unknown"})" %>
                    <% end %>
                  </td>
                  <td><%= button_to "Delete", finish_position_path(fp), method: :delete, class: "text-base font-semibold text-[#DB2955] cursor-pointer" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= form_with model: FinishPosition.new(event: event), local: true, html: { id: "unknown_finisher_form" } do |f| %>
            <%= f.hidden_field :event_id %>

            <div class="my-4 flex items-center space-x-4">
              <div>
                <%= f.label :position, "Position", class: "block text-sm font-medium text-gray-700" %>
                <%= f.number_field :position, min: 1, class: "w-24 rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-[#DB2955] sm:text-sm" %>
              </div>

              <div class="self-end">
                <%= f.submit "Unknown", class: "rounded-md border border-transparent bg-[#DB2955] px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-[#DB2955]/90 cursor-pointer" %>
              </div>

              <div class="self-end">
                <%= f.submit "Discard", name: "discard", formnovalidate: true, class: "rounded-md border border-transparent bg-red-500 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-gray-600 cursor-pointer" %>
              </div>
            </div>
          <% end %>
        </div>

        <div>
          <h3 class="text-pretty text-2xl font-medium tracking-tight text-gray-950 mt-2">Finish Times</h3>
          <% if event.finish_times.any? %>
            <table class="table-fixed border-separate [border-spacing:0.75rem]">
              <thead>
                <tr>
                  <th>Position</th>
                  <th>Time</th>
                  <th>Delete?</th>
                </tr>
              </thead>
              <tbody>
                <% event.finish_times.order(:position).each do |ft| %>
                  <tr>
                    <td><%= ft.position %></td>
                    <td><%= ft.time_string %></td>
                    <td><%= button_to "Delete", finish_time_path(ft), method: :delete, class: "text-base font-semibold text-[#DB2955] cursor-pointer" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= form_with model: FinishTime.new(event: event), local: true do |f| %>
              <%= f.hidden_field :event_id %>

              <div class="my-2">
                <%= f.label :position, "Position" %>
                <%= f.number_field :position, min: 1, class: "block rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-[#DB2955] sm:text-sm/6" %>
              </div>

              <div class="my-2">
                <%= f.label :time_string, "Time" %>
                <%= f.text_field :time_string, class: "block rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-[#DB2955] sm:text-sm/6", placeholder: "HH:MM:SS or MM:SS or 'P'", value: f.object.time.nil? ? "" : f.object.time_string %>
              </div>

              <div class="my-4">
                <%= f.submit "Add Finish Time", class: "justify-center rounded-md border border-transparent bg-[#DB2955] px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-[#DB2955]/[90%] cursor-pointer" %>
              </div>
            <% end %>
            <%= button_to "Delete All Finish Times", finish_times_destroy_all_path(event_id: event.id), method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete all #{event.finish_times.count} finish times? This cannot be undone." } }, class: "my-4 rounded-md border border-transparent bg-red-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-red-700 cursor-pointer" %>
          <% else %>
            <div>
              <%= form_with url: finish_time_import_path, method: :post, multipart: true do |f| %>
                <div class="my-5">
                  <%= f.hidden_field :event_id, value: event.id %>
                  <%= f.label :file, "CSV File", class: "block text-sm font-medium text-gray-700" %>
                  <%= f.file_field :file, accept: ".csv", class: "block rounded-md border border-gray-300 shadow-sm file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-gray-50 file:text-gray-700 hover:file:bg-gray-100 focus:border-blue-500 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" %>
                </div>
                <div class="my-5">
                  <%= f.submit "Upload times", class: "justify-center rounded-md border border-transparent bg-[#DB2955] px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-[#DB2955]/[90%] cursor-pointer" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
