<div class="mt-16 px-6 lg:px-8">
  <div class="mx-auto max-w-2xl lg:max-w-7xl">
    <h1 class="text-pretty text-4xl font-medium tracking-tight text-gray-950 dark:text-white sm:text-6xl">Have fun and get fit, here in Sydney’s backyard</h1>
    <h2 class="mt-6 max-w-3xl text-2xl font-medium text-gray-500">WS10 is a monthly 10km running event held on the third Sunday of every month at 3 great locations around Western Sydney.</h2>
  </div>
</div>
<div class="relative py-24">
  <div class="absolute inset-x-0 bottom-0 top-48 rounded-4xl ring-1 ring-inset ring-black/5 bg-linear-115 from-[#9DA39A] from-28% via-[#B98389] via-40% to-[#DB2955] sm:bg-linear-145"></div>
  <div class="relative px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-7xl">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      <% @upcoming_events.each_with_index do |event, index| %>
        <div class="relative -m-2 grid grid-cols-1 rounded-4xl max-lg:mx-auto max-lg:w-full max-lg:max-w-md overflow-hidden">
        <% if index == 0 %>
          <div class="absolute top-0 right-0 w-16 h-16">
            <div class="bg-[#DB2955] absolute transform rotate-45 text-center text-white font-semibold py-1 right-[-40px] top-[32px] w-[170px]">
              Next Event
            </div>
          </div>
        <% end %>
          <div class="rounded-3xl bg-white p-10 pb-9 shadow-2xl ring-1 ring-black/5 ring-inset">
            <h2 class="font-mono font-semibold uppercase tracking-widest text-gray-500 dark:text-gray-400"><%= event.nickname %></h2>
            <p class="mt-2 text-gray-950/75"><%= event.location %></p>
            <div class="mt-8 text-5xl font-medium <%= index == 0 ? "text-[#DB2955]" : "text-gray-950" %>"><%= event.date %></div>
            <%= link_to "Course Info", courses_path, class: "mt-8 inline-flex items-center justify-center px-4 py-[calc(theme(spacing.2)-1px)] rounded-full border border-transparent bg-[#DB2955] shadow-md whitespace-nowrap text-base font-medium text-white" if index == 0 %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<div class="mt-16 px-6 lg:px-8">
  <div class="mx-auto max-w-2xl lg:max-w-7xl">
    <section id="about">
      <h3 class="mt-2 text-center text-pretty text-4xl font-medium tracking-tight text-gray-950 dark:text-white sm:text-6xl">What is WS10?</h3>
      <div class="mx-auto mb-32 mt-16 max-w-xl space-y-12">
        <dl>
          <dt class="font-semibold">It's Monthly</dt>
          <dd class="mt-4 text-gray-600">WS10 is a monthly, 10k run held on the third Sunday of every month, at 7am.</dd>
        </dl>
        <dl>
          <dt class="font-semibold">It's Local</dt>
          <dd class="mt-4 text-gray-600">WS10 rotates through three great locations. (Re)discover the tracks and parklands of Western Sydney.</dd>
        </dl>
        <dl>
          <dt class="font-semibold">It's Social</dt>
          <dd class="mt-4 text-gray-600">Meet new friends, improve your run times or help train towards a longer event such as a marathon or half-marathon.</dd>
        </dl>
        <div class="text-center">
          <%= link_to "Find out more", about_path, class: "mt-4 inline-flex items-center justify-center px-4 py-[calc(theme(spacing.2)-1px)] rounded-full border border-transparent bg-[#DB2955] shadow-md whitespace-nowrap text-base font-medium text-white" %>
        </div>
      </div>
    </section>
  </div>
</div>
