<div class="my-16 px-6 lg:px-8">
  <div class="mx-auto max-w-2xl lg:max-w-7xl">
    <div class="px-4 sm:px-6 lg:px-8">
      <nav class="mb-4" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
          <li class="inline-flex items-center">
            <%= link_to root_path, class: "inline-flex items-center font-medium text-gray-700 hover:text-[#DB2955]" do %>
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
              </svg>
            <% end %>
          </li>
          <li aria-current="page">
            <div class="flex items-center">
              <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
              </svg>
              <span class="ms-1 text-lg font-medium text-gray-500 md:ms-2">Events</span>
            </div>
          </li>
        </ol>
      </nav>
      <div class="text-center mb-8">
        <h1 class="text-4xl font-bold text-gray-900">All Events</h1>
      </div>
      <div class="mt-4 flow-root">
        <% if @events.present? %>
          <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
              <table class="table-fixed min-w-full divide-y divide-gray-300">
                <thead>
                  <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left font-semibold text-gray-900">Event</th>
                    <th scope="col" class="py-3.5 px-3 text-left font-semibold text-gray-900">Date</th>
                    <th scope="col" class="py-3.5 px-3 text-left font-semibold text-gray-900">Participants</th>
                    <th scope="col" class="py-3.5 pl-3 pr-4 text-left font-semibold text-gray-900">Fastest Time</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                  <% @events.each do |event| %>
                    <tr class="hover:bg-[#9DA39A]/50">
                      <td class="whitespace-nowrap pl-4 pr-3 py-5 text-2xl text-gray-700"><%= link_to "##{event.number} – #{event.display_location}", event %></td>
                      <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700"><%= link_to l(event.date), event %></td>
                      <td class="whitespace-nowrap px-3 py-5 text-2xl text-gray-700"><%= link_to (event.results.count + event.volunteers.count), event %></td>
                      <td class="whitespace-nowrap pl-3 pr-4 py-5 text-2xl text-gray-700"><%= link_to event.results.order(Result.arel_table[:time].asc.nulls_last).first&.time_string || "N/A", event %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% else %>
          <p class="text-2xl font-medium p-2 md:p-0 md:py-2">No events yet, please check back later.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
